#maindiv{
    height: 350px;
    width: 500px;
    margin: auto;
    text-align: center;
    box-shadow: inset 0 2px 8px rgb(50, 49, 49), 0 2px 4px rgb(73, 69, 69);
    padding-top: 10px;
}

#div1{
    margin-bottom: 10px;
    height: 35px;

}

#table1{
    margin:auto;
    margin-top: 3.2px;
}

#table2{
    margin:auto;
    margin-top: 3.2px;
}

.tasks{
    padding: 5px;
    font-size: larger;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.tasks:hover{
    box-shadow: 0 1px 2px rgb(79, 76, 76), 1px 2px rgb(94, 91, 91);
    border-radius: 5px;

}

#table2{
    height:35px;
    width: 300px;
    border-spacing: 0cap;
    border: 1px solid rgb(203, 191, 191);
}

[value = "Remove Task"]{
    height: 20px;
}

[type="button"]{
    height: 30px;
    width : 100%;
    background-color: rgba(14, 50, 231, 0.438);
    color: rgb(254, 254, 254);
    border: radi;
}

[type="button"]:hover{
    background-color: rgba(14, 50, 231, 0.801);
    box-shadow: 0 1px 2px rgb(44, 42, 42),0 1px 2px rgb(45, 44, 44);

}

[type="checkbox"]:hover{
    box-shadow: 0 1px 2px rgb(83, 80, 80),0 1px 2px rgb(143, 131, 131);
}

#input{
    padding-left: 5px;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    height: 24px;
    border-radius: 5px;

}

#input:hover{
    box-shadow: inset 0 1px 2px rgb(44, 42, 42),0 1px 2px rgb(45, 44, 44);

}